@model IEnumerable<AirlineCompany.Models.Airplanes.Destination>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Destinations</h1>

<table class="table table-striped">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Destination</th>
        <th scope="col">Country</th>
        <th scope="col">Actions</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>
                @d.ID
            </td>
            <td>
                @d.Name
            </td>
            <td>
                @d.Country.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Destination", new { id = d.ID }) |
                @Html.ActionLink("Delete", "Delete", "Destination", new { id = d.ID })
            </td>
        </tr>
    }
</table>

